:root{
    font-family: "Inter", sans-serif;
    font-size: 180%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


span{
    font-size:300%;
}